/* Menu.css */

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #343a40; /* Dark background color */
}

.btn {
    margin: 5px;
}
